* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #f4f4f4;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-size: 1.5rem;
}
code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 34px;
}
.square.X {
  color: #f00;
}

.square.O {
  color: #00f;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.square:hover {
  background-color: #eee;
  transform: scale(1.05);
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.winning-line {
  background-color: rgb(234, 121, 121);
}
/* Toggle Switch*/
.react-switch-bg {
  background-color: #999;
}

.react-switch-handle {
  background-color: #fff;
  border: 1px solid #999;
}

ol {
  list-style: none;
}

li {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li button {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

li button:hover {
  background-color: #0056b3;
}

li p {
  font-weight: bold;
}

.draw-message {
  font-size: 1.2rem;
  font-weight: bold;
  color: #777;
}
/* Footer */
.footer {
  margin-top: 65vh;
  text-align: center;
  font-size: 1.4rem;
}
/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
} */
